.App {
    text-align: center;
    justify-items: center;
}

.loading-fade {
    opacity: 50%;
    pointer-events: none;
}

html, body {
    background-image: linear-gradient(30deg, rgb(97, 205, 255) 0%, #c1ccff 44%, rgba(0, 212, 255, 1) 100%);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#grid-editor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#grid {
    background-color: white;
}

@media print {
    .hidden-on-print {
        display: none !important;
    }

    #grid {
        border: 0px solid white !important;
    }

    #grid-editor {
        margin-top: 0px !important;
    }
}

#app-loading {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
}